/*-------- index----------*/
body {
  background:linear-gradient(#FEFEFE, #888888);
  font-family: 'Open Sans', Arial, sans-serif;
  width: auto;
}

.video {
  position: fixed;
  top: 0;
  z-index: -100;
  width: 100%;
  height: auto;
  background-color: #000;

}
.subtitulo{
  font-weight: bolder;
  text-align: center;
  margin-top: 20px ;
  
}

/*-----------header--------------------------------*/
.contenedor {  
  margin: 0 auto;
}

.headerPrincipal {
  position: relative;
  padding: 20px 0;
}

.logo {
  width: 250px;
}

.headerPrincipal-titulo {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
  color: rgb(19, 22, 22);
}

.headerPrincipal-titulo:hover {
  color: #de8220;
  text-decoration: underline;
}

.headerPrincipal-nav-link {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  padding-inline: 5px;
  display: block;
}

.headerPrincipal-nav-link:hover {
  color: #de8220;
  text-decoration: underline;
}

/*-----------descripcion -----------*/

.mainPrincipal .contenedorDescripcion {
  position: relative;
  
   
}

.descripcion__somos {
  background: linear-gradient(#FEFEFE, #888888);
  font-size: 0.98em;
  width: 45%;
   
}

.descripcion__diferenciales {
  background: linear-gradient(#FEFEFE, #888888);
  font-size: 0.98em;
  width: 45%;
}

.descripcion__somos__parrafo {
  display: block;
   line-height: 1.5;
   margin-left: 15px;
   
}

.lista-diferencial {
  display: block;
  
}

.items {
  line-height: 2;
  margin-left: 15px;
}

/*-----------footer ------------*/
.rodapePrincipal-patrocinadores {
	
	background:linear-gradient(#FEFEFE, #888888);
      
  
}


